{% extends "::layout.html.twig" %}
{% block content %}
<h2>Tree View Implementations</h2>
<ul>
    {% for tree in trees %}
    <li>
    <a href="{{ path('test_tree', {'tree_name': tree.name}) }}">{{ tree.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
