<div id="cmf_tree_{{ uniqId }}"></div>

<script type="text/javascript">
$(document).ready(function () {
    $('#cmf_tree_{{ uniqId }}').elfinder({
        url : '{{ path('_cmf_tree_ui_process', {'cmf_tree_ui_tree_name': tree.name}) }}'
    });
});

</script>
