{% extends "::layout.html.twig" %}
{% block content %}
<h2>{{ tree.name|capitalize }} Implentation Test</h2>

{% for feature in validator.allFeatures %}
    <h3>{{ feature|capitalize }}</h3>
    {% if validator.viewHasFeature(tree.view, feature) %}
        {% include "::tree/feature_" ~ feature ~ ".html.twig" %}
    {% else %}
        <i>Not supported</i>
    {% endif %}
{% endfor %}
{% endblock %}
