<div id="cmf_tree_{{ uniqId }}"></div>
<script type="text/javascript">
$(document).ready(function () {
    // ============================== // 
    // ==== Setup some variables ==== //

    var treeEl = $('#cmf_tree_{{ uniqId }}');
    var clipboard = {};
    var funcs = {};
    var extensions = [];
    var options = new Object();

    // ============================== // 
    // ===== Include base stuff ===== //

    {% include "CmfTreeUiBundle:FancyTree:components/_funcs.js.twig" %}
    {% include "CmfTreeUiBundle:FancyTree:components/base.js.twig" %}

    {% if options.form_input %}
        {% include "CmfTreeUiBundle:FancyTree:components/form_input.js.twig" %}
    {% endif %}

    // ============================== // 
    // ==== Configure Extensions ==== //

    {% if options.context_menu_enable %}
        {% include "CmfTreeUiBundle:FancyTree:components/context_menu.js.twig" %}
    {% endif %}

    {% if options.drag_and_drop %}
        {% include "CmfTreeUiBundle:FancyTree:components/drag_and_drop.js.twig" %}
    {% endif %}

    options.extensions = extensions;

    // ============================== // 
    // ====== Render the tree ======= //

    $('#cmf_tree_{{ uniqId }}').fancytree(options);
});

</script>
